/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../vedant/background.jpeg);
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;

    
}
.logo{
    color: azure;
    font-size: 28px;
}
span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
button{
    border: none;
    background:#ea1538 ;
    padding: 12px 30px;
    border-radius: 30px;

} */


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right,rgb(255,255,255),rgb(254,215,173));
}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: black;
    font-size: 2rem ;
    font-weight: bolder;
}
.logo span{
    color: rgb(100, 67, 0);
    text-shadow: 0 0 10px rgb(109,67,0);
}
.hamburg, .cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}
.nav-container .links{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(109,67,0);
    transition: 0.2 linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid rgb(109,67,0);
}
.nav-container .contact-btn a{
    color: white;
}
.nav-container .contact-btn:hover,.nav-container
.nav-container .links a:hover{
    color: rgb(109,67,0);
}